@import '@style/variable.scss';

.app-fiance-num {
  color: $app-color-fiance-num;
  margin-right: $app-color-fiance-margine;
  margin-left: $app-color-fiance-margine;
  height: 1.5em;

  .app-fiance_currency {
    font-size: $app-font-fiance-currency;
    font-weight: $app-color-fiance-weight;
  }

  .app_fiance_integer {
    font-size: $app-font-fiance-integer;
    font-weight: $app-color-fiance-weight;
  }

  .app_fiance_decimal {
    font-size: $app-font-fiance-currency;
    font-weight: $app-color-fiance-weight;
  }
}

.app-data-placeholder {
  color: $app-main-font-color1;
  text-align: center;
  font-size: .9em;
  line-height: 1.5em;
}

.app-date-range {
  display: flex;
  width: 100%;

  span {
    flex: 1;
    text-align: center;
  }
}