@import '@style/variable.scss';

.app-container {
  display: flex;
  height: 100%;
  flex-direction: column;

  .container-main {
    flex: 1;
    overflow: auto;
  }

  .container-footer {
    height: 50px;
  }
}

.app-table-lable4 {
  width: $app-length-row * 2;
  min-width: $app-length-row * 2;
  max-width: $app-length-row * 2;
  text-align: center;
  line-height: $app-length-row;
}