@import '@style/variable.scss';

.app-store-detail {
  background-color: $app-color-white;
  margin: $app-length-row/4 $app-length-row/2;
  padding: $app-length-row/4;
  width: calc(100% - 60px);
  position: relative;
  border-radius: 10px;

  div {
    padding: .3em;
  }
}

.app-store-code {
  display: inline-block;
  width: 80px;
}