@import '@style/variable.scss';

.app-product-container {
  height: calc(100% - 30px);
  overflow: auto;

  table {
    border-collapse: collapse;
    width: 100%;
    td {
      // width: 35%;
      text-align: left;
    }
  }

  .app-prod-name {
    color: red;
    font-weight: 900;
  }
}