@import '@style/variable.scss';
@import '@style/vant.scss';


html,body,#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $app-main-back-color;
  font-family: $app-font-family;
}


.app-one-row {
  width: 100%;
  height: $app-length-row;
  line-height: $app-length-row;
  text-align: center;
}

.app-link{
  color:$app-color-link-base;

  &:hover {
    color: $app-color-link-hover;
  }

  &:active {
    color: $app-color-link-active;
  }
}

.app-data-search {
  height: $page-search-height;
  line-height: $page-search-height;
  background-color: $app-color-white;
  text-align: center;

  span {
    display: inline-block;
    margin-left: $page-search-height / 2;
    margin-right: $page-search-height / 2;
  }
}

.app-data-container {
  height: calc(100% - 30px);
  overflow: auto;
}

.app-data-item{
  margin: $app-length-row/4 $app-length-row/2;
  padding: $app-length-row/4;
  border: $app-color-border-msg 2px solid;
  border-radius: $app-length-row/4;
  background-color: $app-color-white;
  position: relative;

  .app-data-item_disable {
    position: absolute;
    border-radius: 0 $app-length-row/4 0 $app-length-row/4;
    color: $app-color-white;
    font-size: .8em;
    padding: 2px;
    right: 0;
    top: 0;
  }

  .app-data-item_effect {
    background-color: $app-color-data_item_effect;
  }
  .app-data-item_ineffect {
    background-color: $app-color-data_item_in_effect;
  }

  .app-data-item_blod {
    color: $app-color-link-base;
    font-weight: 600;
  }

  .app-data-item_thin {
    color:$app-main-font-color1;
    font-size: .8em;
    text-indent: 2em;
  }
}

.app-data-item_cur {
  border-style: dotted;
  border-color: $app-color-link-hover;
}

.app-data-editor {
  text-align: center;
  position: fixed;
  display: inline-block;
  height:$page-search-height;
  line-height: $page-search-height;
  bottom: 20px;
  right: 30px;

  span {
    background-color:  $app-color-link-base;
    line-height: $page-search-height;
    color: $app-color-white;
    border-radius: 10px;
    margin: 3px;
    padding: 5px;
    &:hover {
      color: $app-color-link-hover;
    }
  
    &:active {
      color: $app-color-link-active;
    }
  }
}

.app-param-form {
  .app-button {
    width: 100%;
    position: fixed;
    bottom: 0;

    button {
      margin-top: 5px;
    }
  }
}

