@import '@style/variable.scss';
@import '@style/vant.scss';


html,body,#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $app-main-back-color;
  font-family: $app-font-family;
}

.app-link{
  color:$app-color-link-base;

  &:hover {
    color: $app-color-link-hover;
  }

  &:active {
    color: $app-color-link-active;
  }
}

.app-data-detail {
  margin: $app-length-base $app-length-base*2;
  padding: $app-length-base;
  border: $app-color-item $app-width-botder solid;
  border-radius: $app-length-base;
  background-color: $app-color-item;
  height: calc(100% - 44px);
  overflow: auto;
}

.app-data-item {
  margin: $app-length-base $app-length-base*2;
  padding: $app-length-base;
  border: $app-color-item $app-width-botder solid;
  border-radius: $app-length-base;
  background-color: $app-color-item;
  position: relative;
}

.app-data-item_detail {
  position: relative;
  background-color: $app-color-item_detail;
  border: $app-color-item_detail $app-width-botder solid;
  border-radius: $app-length-base;
  padding: $app-length-base/2;
  margin: $app-length-base/2;
}

.app-data-item_placeholder {
  text-align: center;
  color:$app-font-color-remark;
  font-size: .8em;
}

.app-data-item_cur {
  border-style: dotted;
  border-color: $app-color-item_cur;
}

.app-data-item_primary {
  color: $app-font-primary;
  font-weight: 600;
}

.app-data-item_deleted {
  position: absolute;
  border-radius: 0 $app-length-base 0 $app-length-base;
  color: $app-font-color-white;
  font-size: .8em;
  padding: 2px;
  right: 0;
  top: 0;
}

.app-data-item_deleted_0 {
  background-color: $app-back-waring;
}

.app-data-item_deleted_1 {
  background-color: $app-back-primary;
}

.app-data-item_remark {
  color:$app-font-color-remark;
  margin: 0;
  font-size: .8em;
  text-indent: 2em;
  font-style: italic;
}

.app-top-tobar-search {
  height: $app-length-base*3;
  line-height: $app-length-base*3;
  background-color: $app-back-white;
  text-align: center;

  span {
    display: inline-block;
    margin-left: $app-length-base*2;
    margin-right: $app-length-base*2;
  }
}

.app-bottom-fixed-button {
  width: calc(100% - 60px);
  position: fixed;
  bottom: $app-length-base;
  padding: 0 30px;
  
  button {
    width: calc(100% - 10px);
    height: $app-button-height;
    border-radius: $app-button-height/2;
    margin: $app-length-base/2;
  }
}

.app-bottom-fixed-search-button {
  position: fixed;
  display: inline-block;
  bottom: $app-length-base;
  right: $app-length-base*2;

  span {
    background-color: $app-color-link-base;
    line-height: $app-button-height;
    color: $app-font-color-white;
    border-radius: $app-length-base;
    margin: $app-length-base/5;
    padding: $app-length-base/2;
    &:hover {
      color: $app-color-link-hover;
    }
  
    &:active {
      color: $app-color-link-active;
    }
  }
}

.app-one-row {
  width: 100%;
  height: $app-length-row;
  line-height: $app-length-row;
  text-align: center;
}

.app-data-container {
  height: calc(100% - 30px);
  overflow: auto;
}

.app-param-form {
  .app-button {

    width: 100%;
    position: absolute;
    bottom: 5px;

    button {
      width: calc(100% - 10px);
      height: 34px;
      border-radius: 17px;
      margin: 5px;
    }
  }
}

