@import '@style/variable.scss';

.van-dropdown-menu {
  width: calc(100% - 20px);
  height: 1.5em;
  padding: 0 10px;
}

.van-dropdown-menu__bar {
  height: 100%;
}

.van-radio-group {
  padding: 0 10px;
}