

// back color
$app-font-family:-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

$app-color-item:#fff;
$app-color-item_detail: #F8F8FF; 
$app-color-item_cur:#f56c6c;
$app-main-back-color:#F5F5F5;
$app-back-primary: #409eff;
$app-back-waring: #f00;
$app-back-white: #fff;
$app-font-color-remark: #778899	;
$app-font-color-white: #fff;
$app-font-primary: #409eff;

$app-color-link-base:  #409eff;
$app-color-link-active: #e6a23c;
$app-color-link-hover: #f56c6c;

$app-button-height: 34px;
$app-length-base: 10px;
$app-width-botder: 2px;



$app-color-white: rgba(255,255,255,1);
$app-color-border-msg:$app-color-white;
$app-main-font-color1:#ccc;

// length
$app-length-row:40px;

$app-color-fiance-num: #f00;
$app-color-fiance-weight: 900;
$app-color-fiance-margine: 0;
$app-font-fiance-integer: 1em;
$app-font-fiance-currency: .7em;
$app-font-fiance-decimal: .7em;

$app-color-data_item_effect:  #409eff;
$app-color-data_item_in_effect:  #f00;

$app_store_detail_item_back: #F8F8FF;
$page-search-height:30px;