@import '@style/variable.scss';
.app-order-param-row {
  margin: 10px;
  display: flex;
  .app-order-param-item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
    border: 1px solid $app-main-font-color1;
    height: 1.5em;
    border-radius: 5px;
  }
}

.app-order-param-container {
  height: calc(100% - 44px);
}

.app-row-button {
  width: calc(100% - 20px);
  position: absolute;
  bottom: 5px;
  
  button {
    width: calc(100% - 10px);
    height: 34px;
    border-radius: 17px;
    margin: 5px;
  }
}