@import '@style/variable.scss';
.app-order-param-row {
  margin: 10px;
  display: flex;
  .app-order-param-item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
    border: 1px solid $app-main-font-color1;
    height: 1.5em;
    border-radius: 5px;
  }
}

.app-order-param-container {
  height: calc(100% - 44px);
}

.app-row-button {
  width: calc(100% - 20px);
  position: absolute;
  bottom: 5px;
  
  button {
    width: calc(100% - 10px);
    height: 34px;
    border-radius: 17px;
    margin: 5px;
  }
}

.app-detail-content {
  background-color: $app-color-white;
  margin: $app-length-row/4 $app-length-row/2;
  padding: $app-length-row/4;
  width: calc(100% - 60px);
  border-radius: 10px;

  
  .app-detail-content_item {
    position: relative;
    background-color: $app_store_detail_item_back;
    border: 2px solid $app_store_detail_item_back;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
  }

  .app-detail-content_item_cur {
    border-style: dotted;
    border-color: $app-color-link-hover;
  }

  .app-detail-content_empty {
    text-align: center;
    color:$app-main-font-color1;
    font-size: .8em;
  }
}